.project-details-container {
    display: flex;
    justify-content: space-between;
    padding-top: 3.75rem;
}

.project-detail-title,
.project-details {
    width: 50%;
}

.project-details p,
.project-detail-title h2  {
    font-size: 1.5rem;
    line-height: 150%;
}

.project-detail-title h2  {
    font-weight: 500;
}



.tag-container {
    padding-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag h3 {
    border: 0.1rem solid #1e1e1e;
    color: #1e1e1e;
    border-radius: 10em;
    padding: 0.5rem 1rem 0.6rem;
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1;
}

@media only screen and (max-width: 760px) { 
    .project-details-container {
        display: flex;
        flex-direction: column;
    }

    .project-detail-title,
    .project-details {
        width: 100%;
    }

    .tag-container {
        padding: 2rem 0;
    }
}